<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de VINs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <h2>BYD</h2>
    <div class="nav-links">
        <a href="/">Registro</a>
        <a href="/config">Meta</a>
        <a href="/dashboard" class="ativo">Dash</a>
        <a href="/exportar_planilha">Excel</a>
    </div>
</nav>

<div class="sidebar">
    <h2>BYD</h2>
    <a href="/">Registro</a>
    <a href="/config">Meta do Dia</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/exportar_planilha">Exportar Planilha</a>
</div>

<div class="main">

    <div class="header">Relatório de VINs - {{ data }}</div>

    <div class="card">
        <p><b>Total:</b> {{ total }} unidades</p>
        <br>
        <a href="/baixar_pdf_vins" target="_blank">
            <button>Gerar PDF</button>
        </a>
        <div class="btn-spacer"></div>
        <a href="/dashboard">
            <button class="btn-warn">Voltar ao Dashboard</button>
        </a>
    </div>

</div>

</body>
</html>
